
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
    overflow: hidden;
  }
  
  .score-board {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    gap: 500px;
    margin-bottom: ;
    /* border: #e30000 2px solid; */
  }

  .img-score-board
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    height: 200px;
    width: 100px;
    /* margin-bottom: 20px; */

  }
  .bavatar , .aavatar{
    border-radius: 50%;
    border: #ffee00 2px solid;
    height: 100%;
    width: 100%;
  }
  
  .player-a-score {
    color: #ffee00;
    display: flex;
    justify-content: center;
    font-size: 100px;
    width: 100%;
  }
  
  .player-b-score {
    color: #e30000;
    font-size: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* font-weight: 700; */
  }
  
  .game-canvas-container {
    width: 90%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    /* background-color: black; */
    border: 4px solid white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .game-canvas {
    width: 100%;
    height: 100%;
  }
  
  .game-controls {
    margin-top: 5rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    gap: 50px;
    display: flex;
  }
  
  .player-a-controls {
    margin-left: 0.5rem;
    color: hsl(56, 100%, 50%);
    font-size: 1rem;

  }
  
  .player-b-controls {
    margin-left: 0.5rem;
    color: #e30000;
    font-size: 1rem;
  }
  
  .winner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10;
  }
  
  .winner-text {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #30e760;
  }
  
  .winner-overlay p {
    font-size: 2rem;
    color: #888;
  }

  .avatar-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }


  .Aa , .Ba{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
 
.Score-A , .Score-B{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* margin-top: 1rem; */
}

.img-score-holder{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.img-score{
  width: 100px;
  height: 300px;
}
.img-score > span{
  /* width: 100px; */
  /* border-radius: 50%; */
  height: 100px;
  font-size: 100px;
  /* border: #fa0e0e 2px solid; */
}