.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    font-family: Arial, sans-serif;
  }
  .form-wrapper {
    background-color: rgb(255, 252, 252);
    padding: 3.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .switch-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .switch-option {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    color: #666;
  }
  .switch-option.active {
    color: #310853;
    border-bottom: 2px solid #882593;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .input {
    padding: 0.5rem;
    border: 1px solid #882593;
    border-radius: 4px;
  }
  /* .signup-input {
    background-color: #882593;
  } */
  .button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* font-weight: bold; */
  }
  .intra {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
  }
  .sign-in {
    background-color: #60186d;
    color: #ffffff;
  }
  .sign-up, .upload-avatar {
    background-color: #60186d;
    color: #ffffff;
  }
  .separator {
    position: relative;
    text-align: center;
  }
  .separator hr {
    border: none;
    border-top: 1px solid #ccc;
  }
  .separator span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 0.5rem;
    /* color: #666; */
    font-size: 0.8rem;
  }
  .avatar-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .avatar-placeholder {
    width: 100px;
    height: 100px;
    border: 2px dashed #882593;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: #f5f5f5; */
  }
  
  .avatar-plus {
    font-size: 3rem;
    color: #882593;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hidden-input {
    display: none;
  }


  .message {
      background-color: #60186d;
      text-align: center;
      color: #ffffff;
    }

    .error {
      background-color: red;
    }

    .success {
      background-color: green;
    }
  
