.profile {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	/* background-color: bisque; */
}

/* .content {
	margin: 3%;
	margin-top: 70px;
	width: 90%;
	height: 100%;
	min-height: 1300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.head h1 {
	text-align: center;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 15px;
	text-transform: uppercase;
	display: grid;
	align-items: center;
	color: white;

	@media (max-width: 768px) {
		font-size: 30px;
		font-weight: 100;
		letter-spacing: 4px;
	}
}

.last {
	width: 80%;
	height: 60%;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 10px;
		height: 100%;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: #7667D9;
	}

	.big {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 5%;

		.cont {
			height: 100%;
			width: 33%;
			display: flex;
			flex-direction: column;
			border: solid 2px rgba(255, 255, 255, 0.5);

			.title {
				width: 100%;
				height: 10%;
				background-color: blueviolet;
				font-size: 30px;
				color: white;
				display: flex;
				padding-left: 5%;
				align-items: center;
			}

			.card {

				&::-webkit-scrollbar {
					width: 10px;
					height: 100%;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 20px;
					background-color: #7667D9;
				}

				display: flex;
				flex-direction: column;
				gap: 10px;
				padding: 5% 0 0 5%;
				width: 100%;
				height: 100%;
				overflow: auto;
			}
		}
	}

	.cardMatch {
		background-color: rgba(0, 128, 0, 0.4);
		width: 400px;
		height: 120px;
		min-height: 150px;
		border: solid 2px green;
		border-radius: 20px;
		display: flex;

		.player {
			flex: 1;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				padding: 5px;
				border-radius: 50px;
				width: 100px;
				height: 100px;
			}

			p {
				padding: 5px;
				color: white;
			}
		}

		.scoreDate {
			flex: 1;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				padding: 15px;
				color: white;
				font-size: 20px;
			}
		}
	}

	.cardFriend {
		background-color: rgba(255, 255, 255, 0.2);
		width: 350px;
		height: 120px;
		min-height: 120px;
		border: solid 1px white;
		border-radius: 20px;
		display: flex;

		.Img {
			width: 40%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 100px;
				width: 100px;
				border-radius: 50px;
			}
		}

		.Name {
			width: 60%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				font-size: 20px;
				color: white;
			}
		}

		.unblock {
			width: 30%;
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				background: none;
				border: none;
				cursor: pointer;

				&:hover {
					p {
						font-size: 22px;
						transition: 0.5s;
					}
				}
			}

			p {
				transition: 0.5s;
				color: red;
				font-size: 20px;
			}
		}
	}

	.small {
		display: none;
		width: 100%;
		height: 100%;
	}

	@media (max-width: 1280px) {
		.big {
			display: none;
		}

		.small {
			display: flex;
		}
	}

	@media (max-width: 768px) {
		width: 100%;
	}
}

.small {
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.cardName {
	width: 100%;
	height: 10%;
	font-size: 25px;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.cardMatch {
	background-color: #25233c;
	width: 400px;
	height: 120px;
	min-height: 120px;
	display: flex;
	border-radius: 20px;
	overflow: hidden;
	border: solid 2px green;
	background-color: rgba(0, 128, 0, 0.3);
}

.cardFriend {
	background-color: rgba(255, 255, 255, 0.2);
	width: 300px;
	height: 100px;
	min-height: 100px;
	border: 1px solid white;
	border-radius: 20px;
	display: flex;

	.friendImage {
		width: 40%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			border-radius: 50px;
			display: flex;
			width: 75px;
			height: 75px;
		}
	}

	.player {
		width: 30%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;

		img {
			margin: 8px;
			width: 75px;
			height: 75px;
			border-radius: 50px;
		}

		p {
			font-size: 15px;
			color: white;
		}
	}

	.scoreDate {
		width: 40%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;

		p {
			color: white;
			font-size: 15px;
			padding: 10px;
		}
	}

	.friendName {
		width: 60%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			color: white;
			font-size: 20px;
		}
	}

	.unblock {
		width: 30%;
		height: 100%;
		overflow: hidden;

		button {
			transition: 0.5s;
			cursor: pointer;
			background-color: transparent;
			width: 100%;
			height: 100%;
			border: none;
			font-size: 18px;
			color: red;

			&:hover {
				font-size: 20px;
				transition: 0.5s;
			}
		}
	}
}

@media (max-width: 1280px) {
	.big {
		display: none;
		overflow: auto;

	}

	.small {
		display: flex;
		flex-direction: column;

	}

	.Head {
		width: 100%;
		height: 10%;
		display: flex;
		gap: 3%;
	}

	.cont {
		width: 100%;
		height: 90%;
		display: flex;
		flex-direction: column;
		padding: 2%;
	}

	.Button {
		width: 100%;
		height: 100%;
		border: solid 2px #7667D9;
		color: white;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		transition: 0.5s;

		&:hover {
			font-size: 22px;
			transition: 0.5s;
		}

		&::after {
			background-color: #7667D9;
		}

		@media (max-width: 1024px) {
			font-size: 15px;

			&:hover {
				font-size: 17px;
				transition: 0.5s;
			}
		}

	}

	.mHistory {
		&:hover {
			overflow-y: scroll;
		}

		&::-webkit-scrollbar {
			width: 10px;
			height: 100%;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 20px;
			background-color: #ffffff0a;
		}

		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-content: start;
		overflow: auto;
	}

	.CardMatch {
		width: 300px;
		height: 120px;
		display: flex;
		background-color: rgba(0, 128, 0, 0.3);
		border: solid 2px green;
		border-radius: 20px;

		.Player {
			display: flex;
			flex-direction: column;
			width: 33%;
			height: 100%;
			align-items: center;

			img {
				border-radius: 70px;
				margin-top: 5px;
				width: 70px;
				height: 70px;
			}

			p {
				margin-top: 8px;
				font-size: 12px;
				color: white;
			}
		}

		.ScoreDate {
			display: flex;
			width: 34%;
			height: 100%;
			flex-direction: column;
			align-items: center;
			gap: 15px;

			p {
				font-size: 15px;
				margin: 8px;
				color: white;
			}
		}

		@media (max-width: 1136px) {
			width: 100%;
		}
	}

	.Friends {
		&:hover {
			overflow-y: scroll;
		}

		&::-webkit-scrollbar {
			width: 10px;
			height: 100%;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 20px;
			background-color: #ffffff0a;
		}

		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		overflow: auto;
		gap: 10px;
		align-content: start;
	}

	.CardFriend {
		background-color: rgba(255, 255, 255, 0.2);
		width: 300px;
		height: 100px;
		border: solid 2px white;
		border-radius: 20px;
		display: flex;

		.image {
			width: 40%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 70px;
				height: 70px;
				margin: 10px;
				border-radius: 100px;
			}
		}

		.Name {
			width: 60%;
			height: 100%;
			display: flex;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;

			p {
				font-size: 15px;
			}
		}

		.unblock {
			width: 30%;
			height: 100%;
			overflow: hidden;

			button {
				transition: 0.5s;
				cursor: pointer;
				background-color: transparent;
				width: 100%;
				height: 100%;
				border: none;
				font-size: 18px;
				color: red;

				&:hover {
					font-size: 20px;
					transition: 0.5s;
				}
			}
		}
	}

	.Blocked {
		&:hover {
			overflow-y: scroll;
		}

		&::-webkit-scrollbar {
			width: 10px;
			height: 100%;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 20px;
			background-color: #ffffff0a;
		}

		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-content: start;
		overflow: auto;
		gap: 10px;
	}
}

.loading {
	width: 80%;
	height: 40%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.loading h1 {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.3);
	margin-bottom: 10px;
}

.pointContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
}

.point {
	width: 10px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	animation: blink 1.5s infinite ease-in-out both;
}

.point:nth-child(2) {
	animation-delay: 0.3s;
}

.point:nth-child(3) {
	animation-delay: 0.6s;
}

@keyframes blink {
	0% {
		transform: scale(1);
		opacity: 0.2;
	}

	50% {
		transform: scale(1.5);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0.2;
	}
} */

.content {
	display: flex;
	justify-content: center;
	width: 98%;
	height: 100%;
	/* background-color: aqua; */
	margin-top: 60px;
	gap: 10px;
	padding: 10px;
	min-height: 1300px;
	display: flex;
	align-items: center;
}

.prf {
	display: flex;
	width: 80%;
	height: 100%;
	/* background-color: black; */
	align-items: center;
	flex-direction: column;
}

.character {
	display: flex;
	width: 98%;
	height: 30%;
	background-color: #25233cd0;

	/* padding: 2%; */
	margin-top: 100px;
	/* justify-content: center; */
	align-items: center;
}

.avatar {
	display: flex;
	width: 30%;
	height: 100%;
	/* background-color: aquamarine; */
	align-items: center;
	flex-direction: column;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 200px;
	background-color: bisque;
	clip-path: polygon(
		50% 0%, 
		100% 25%, 
		100% 75%, 
		50% 100%, 
		0% 75%, 
		0% 25%
	);
	position: relative;
	bottom: 50px;
}

.dupeImage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 190px;
	background-color: green;
	clip-path: polygon(
		50% 0%, 
		100% 25%, 
		100% 75%, 
		50% 100%, 
		0% 75%, 
		0% 25%
	);
	position: relative;
}

.namesett {
	width: 60%;
	height: 100px;
	/* background-color: bisque; */
	display: flex;
	padding: 3%;
}

.name {
	display: flex;
	width: 70%;
	height: 100%;
	/* background-color: green; */
	justify-content: center;
	align-items: center;
	p {
		color: white;
		font-size: 18px;
		letter-spacing: 2px;
	}
}

.sett {
	display: flex;
	width: 30%;
	height: 100%;
	/* background-color: aqua; */
	justify-content: center;
	align-items: center;
}

.change {
	width: 40px;
	height: 50px;
	cursor: pointer;
	background: linear-gradient(135deg, rgba(0, 128, 0, 0.6), rgba(0, 255, 0, 0.8));
	border: none;

	clip-path: polygon(
		50% 0%, 
		100% 25%, 
		100% 75%, 
		50% 100%, 
		0% 75%, 
		0% 25%
	);
	transition: background 0.3s ease;
}

.plusIcon {
	width: 40%;
	height: 40%;
	color: green;
}

.level {
	display: flex;
	width: 70%;
	height: 94%;
	/* background-color: white; */
	margin: 10px 10px 10px 10px;
	gap: 20px;
	flex-direction: column;
	/* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2); */
}

.lvl {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: aqua; */
	width: 100%;
	height: 40%;
	flex-direction: column;
	gap: 10px;
	border-radius: 5px;
}

.ext {
	display: flex;
	width: 70%;
	height: 30px;
	background-color: #25233C;
	border-radius: 20px;
	overflow: hidden;
}

.int {
	display: flex;
	height: 100%;
	background-color: #7667D9;
	border-radius: 20px;
}

.tmp {
	display: flex;
	width: 70%;
	justify-content: space-between;
	p {
		color: white;
		font-size: 13px;
		font-weight: 800;
		letter-spacing: 0.5px;
	}
}

.option {
	display: flex;
	width: 100%;
	height: 20%;
	/* background-color: blue; */
	justify-content: center;
	align-items: end;
	padding: 10px;
	gap: 20%;
	p {
		font-size: 16px;
		font-weight: 800;
		color: rgba(255, 255, 255, 0.5);
	}
}

.settChange {
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
	border: none;
	border-bottom: solid 2px red;
	background: none;
	cursor: pointer;
	gap: 5px;
}

#iconeCh {
	display: flex;
	width: 100%;
	height: 70%;
}

.menu {
	display: flex;
	flex-direction: column;
	width: 150px;
	height: 60px;
	background-color: aqua;
	position: absolute;
	top: 110%;
	left: 50%;
	border-radius: 0 10px 10px 10px;
	overflow: hidden;
	button {
		display: flex;
		flex: 1;
		border: none;
		color: white;
		background: none;
		justify-content: center;
		align-items: center;
		font-size: 16px;
	}
}

.changeGame {
	display: flex;
	width: 25px;
	height: 25px;
	background: none;
	border: none;
	position: relative;
	justify-content: center;
	align-items: center;
	color: white;
}

.info {
	display: flex;
	justify-content: center;
	width: 98%;
	height: 70%;
	/* background-color: azure; */
	margin: 20px;
}

.matchHistory {
	display: flex;
	width: 100%;
	height: 100%;
	/* background-color: bisque; */
	flex-direction: column;
}

.head {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: aqua;
	justify-content: center;
	align-items: center;
	p {
		left: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		font-weight: 550;
		color: white;
	}
}

.matches {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: yellow;
	overflow: auto;
	gap: 10px;

	&::-webkit-scrollbar {
		width: 10px;
		height: 100%;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		transition: background-color 0.3s ease;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #7667D9;
	}
}


.cardMatch {
	display: flex;
	width: 100%;
	height: 100px;
	min-height: 100px;
	background-color: green;
}

.player {
	display: flex;
	width: 30%;
	height: 100%;
	background-color: aquamarine;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 15px;
}

.Name {
	display: flex;
	background-color: blue;
	width: 40%;
	height: 30px;
	justify-content: center;
	align-items: center;
	p {
		color: white;
		font-size: 14px;
		letter-spacing: 0.5px;
	}
}

.Line {
	width: 25%;
	height: 100%;
	background-color: rebeccapurple;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.friends {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: yellow;
	overflow: auto;
	gap: 10px;
	padding: 3%;
	overflow: auto;
	align-content: start;
	flex-wrap: wrap;
	&::-webkit-scrollbar {
		width: 10px;
		height: 100%;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		transition: background-color 0.3s ease;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #7667D9;
	}
}


.statistic {
	width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.3); */
	background-color: #25233cd0;
    display: flex;
	flex-direction: column;
}

.chart1 {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
	/* background-color: antiquewhite; */
}

.chart2 {
	/* background-color: green; */
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circ {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.CurveChart {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chartCir {
    width: 270px;
    height: 270px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartText{
	position: absolute;
    text-align: center;
    color: white;
    p {
        margin: 0;
    }
}

.users {
	width: 20%;
	height: 90%;
	border-radius: 28px;
	display: flex;
	flex-direction: column;
	background-color: #25233cd0;
	overflow: hidden;
	margin-top: 70px;
	min-width: 300px;
}

.Head {
	display: flex;
	width: 100%;
	height: 60px;
	/* background-color: #7667D9; */
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	button {
		display: flex;
		width: 50%;
		height: 100%;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border: none;
		background-color: #1b1a2c;
		p {
			color: white;
			font-size: 16px;
			font-weight: 800px;
			letter-spacing: 1px;
		}
	}
}

.Friends {
	display: flex;
	width: 100%;
	height: 90%;
	padding: 10px;
	flex-direction: column;
	gap: 10px;
	overflow: auto;
	border: 2px solid #25233C;
	/* background-color: aliceblue; */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
} 

.cardFriend {
	display: flex;
	width: 100%;
	height: 150px;
	min-height: 150px;
	position: relative;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.side {
	display: flex;
	width: 100%;
	background-color: #292648;
	align-items: center;
}

.Image {
	display: flex;
	width: 65px;
	height: 75px;
	background-color: green;
	position: absolute;
	justify-content: center;
	align-items: center;
	clip-path: polygon(
		50% 0%, 
		100% 25%, 
		100% 75%, 
		50% 100%, 
		0% 75%, 
		0% 25%
	);
}

.imgCont {
	display: flex;
	justify-content: center;
	width: 60px;
	height: 70px;
	background-color: black;
	clip-path: polygon(
		50% 0%, 
		100% 25%, 
		100% 75%, 
		50% 100%, 
		0% 75%, 
		0% 25%
	);
}

.lvll {
	display: flex;
	position: absolute;
	width: 45%;
	height: 25px;
	right: 18%;
	overflow: hidden;
	border-radius: 50px;
}

.CName {
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 20%;
	color: white;
	font-size: 12px;
	font-weight: 50;
	letter-spacing: 1px;
}

.searchF {
	display: flex;
	/* background-color: green; */
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	padding: 10px;
	input {
		display: flex;
		width: 100%;
		height: 100%;
		background: none;
		border: none;
		padding-left: 20px;
		font-size: 15px;
		color: white;
	}
}

@media (max-witdh: 2000px) {
	.character {
		width: 98%;
		padding: 2%;
	}
}

@media (max-width: 1600px) {
	.image {
		width: 150px;
		height: 160px;
		bottom: 55px;
	}
	.dupeImage {
		width: 140px;
		height: 150px;
	}
	.name {
		p {
			font-size: 16px;
		}
	}
	.change {
		width: 40px;
		height: 50px;
	}
	.ext {
		height: 20px;
	}
	.tmp {
		font-size: 11px;
	}
}

