


# ./FrontEnd/node_modules
# ./FrontEnd/.env


# .env
# node_modules
# ./backend/env
# ./backend/db.sqlite3

deployment
backend/db.sqlite3
backend/env
backend/makefile
front/.env
front/node_modules
# fd/package*.json
