backend/env
# front/node_modules

backend/db.sqlite3

# front/package-lock.json

# node_modules
# npm-debug.log
# build
# .dockerignore
**/.git
**/.DS_Store
# **/node_modules


backend/env
backend/.env
backend/db.sqlite3

backend/*/migrations
backend/*/__pycache__
backend/uploads
deployment



front/node_modules
front/.vite-cashe/deps
front/.vite-cashe
front/dist
backend/env
backend/.env
backend/db.sqlite3
backend/*/migrations
backend/*/__pycache__
deployment
dump.rdb
front/README.md
**/README.md
db
front/dist
