front/node_modules
front/.vite-cashe/deps
front/.vite-cashe
front/dist
backend/env
backend/.env
backend/db.sqlite3
backend/*/migrations
backend/*/__pycache__
deployment
dump.rdb
front/README.md
**/README.md
db
.env
node_modules

