.multi {
	
	width: 90%;
	height: 90vh;
	margin-top: 5vh;
	margin-left: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5%;



	/* overflow: hidden; */

	h1 {
		font-size: 50px;
	}




	button{
		background-color: #7776a684;
		width: 270px;
		border: none;
		outline: none;
		border-radius: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		font-size: 30px;
		font-weight: 900;
		transition: .5s;
		cursor: pointer;
		
		&:hover {
			
			background-color: #7776a6;
			transition: .5s;
			font-size: 35px;
			
			
		}
	}


	
	.all {
	width: 90%;
	height: 85%;
	display: flex;
	align-items: center;
	gap: 10%;
	font-size: 60px;
	font-weight: 700;
		
	p {
		max-width: 500px;
	}

	.localTo, .RemoutTo, .vs{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		/* background-color: rgba(255, 0, 0, 0.61); */

		width: 50%;
		height: 80%;
		border-radius: 40px;
		box-shadow: 0 4px 100px 0 #7667d954, 0 6px 20px 0 #7667d98e;
		display: flex;
		gap: 90px;
		align-items: center;

		/* justify-content: center; */

		flex-direction: column;

		transition: 0.5s;
		padding: 50px;
		
		opacity: 0.5;


		&:hover {
		width: 60%;
		height: 90%;
		transition: 0.5s;
		border: 10px solid #25233cd0;
		box-shadow: 0 4px 100px 0 #7667d9, 0 6px 20px 0 #7667d9;
		opacity: 1;
		}
	}

	.localTo {
		background-image: url("./tournloca.jpg");
		
		.inp {
			display: flex;
			flex-direction: column;
			gap: 20px;
			/* align-items: ; */
			
			input {
				height: 40px;
				/* width: 250px; */
				border: none;
				outline: none;
				border-radius: 40px;
				background-color: #7776a684;
				padding: 20px;
				font-size: 20px;
				font-weight: 700;
				text-align: center;
				
				&::placeholder {
					color: white;
				}
			}
		}
		
	}
	
	.RemoutTo{
		background-image: url("./vidtable.jpg");
		gap: 20px;
		.inp{
			
			display: flex;
			flex-direction: column;
			gap: 40px;
			
			.fraind{
				
				display: flex;
				gap: 30px;
				align-items: center;
				
				img{
					width: 100px;
					height: 100px;
					border-radius: 50%;
				}
			}
		}
	}
	
	.vs{
		
		background-image: url("./2vs2.png");
		gap: 15px;
		.inp{
			/* background-color: #3a3270; */
			width: 95%;
			display: flex;
			flex-direction: column;
			gap: 60px;

			img{
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}

			.my_tym{
				width: 100%;
				display: flex;
				align-items: center;
				gap: 100px;
				border-bottom: 3px solid;
				padding-bottom: 100px;

				.add_frai{
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 30px;

				}
			}


			.adver{
				height: 100px;
				display: flex;
				gap: 100px;
				align-items: center;

			
			}



		}


	}

	}
}
