.container{
    width: 100%;
    height: 40vh;
    display: flex;
    .styling {
        flex: 1;
        display: flex;
        width: 100%;
        flex-direction: column;
        .welcomeMessage{
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: clamp(1rem, 2vw, 5rem);
        }
        .playnow{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                background-color: #7667D9;
                font-size: 50px;
                padding: 20px 90px 20px 90px;
                border-radius: 50px;
                border: none;
                box-shadow: 0 0 20px #7667D9;
                cursor: pointer;
                transition: .4s;
                
                &:hover {
                    font-size: 53px;
                    padding: 22px 92px 22px 92px;
                }
                
                &:focus {
                    background-color: rgb(228, 7, 232);
                    box-shadow: 2px #7667D9;
                    box-shadow: 0 0 20px rgb(228, 7, 232);
                }
            }

        }
    }
    .Img {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 750px;
            height: 650px;
        }
    }
}