.Home{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.cont {
    margin: 3%;
	width: 80%;
	height: 1200px;
	display: flex;
	flex-direction: column;
    /* background-color: aqua; */
}

.head h1
{
    text-align: center;
    font-size:50px; font-weight:300; letter-spacing:15px;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    color: white;
    @media (max-width: 768px) {
        font-size:30px;
        font-weight:100;
        letter-spacing:4px;
    }
}

/* .Intro {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 1800px) {
    .Intro {
        width: 50%;
    }
    .logo {
        width: 50%;
        
    }
}
@media (max-width: 1280px) {
    .logo {
        position: absolute;
        width: 100%;
        opacity: 30%;
    }
    .Intro {
        width: 100%;
        .intro {
            height: 60%;
        }
        .Play {
            height: 40%;
            width: 50%;
        }
        z-index: 1;
    }
}
@media (max-width: 640px) {
    .cont {
        width: 100%;
    }
} */
/* .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    .str {
        width: 100%;
        height: 70%;
        font-size: 30px;
        color: white;
    }
} */
/* .Play {
    display: flex;
    width: 100%;
    height: 50%;
    button {
        width: 400px;
        height: 100px;
        background-color: #411556; 
        border: none;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(151, 19, 79, 0.5);
        transition: background-color 0.3s, box-shadow 0.3s;
        p {
            font-size: 40px;
            color: white;
        }
    }
    button:hover {
        background-color: #5e005e;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    }
    button:active {
        background-color: #560856;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

} */

/* @media (max-width: 768px) {
    .Intro {
        justify-content: start;
        align-items: start;
    }
    .Play {
        width: 200px;
        height: 100px;
        button {
            width: 100%;
            height: 100px;
            p {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 425px) {
    .intro {
        justify-content: center;
        align-items: center;
        height: 70%;
        .str {
            justify-content: center;
            align-items: center;
            font-size: 28px;
        }
    }
} */



/* .last {
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1775px) {
        width: 100%;        
    }
}
.Leaderboard {
    font-size: 30px;
    display: flex;
    gap: 10px;
    color: white;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-top: 4%;
    gap: 20px;
    &::-webkit-scrollbar {
		width: 10px;
		height: 100%;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: #ffffff0a;
	}
} */

.search {
    /* background-color: aliceblue; */
    width: 80;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extFrame {
    /* width: 1000px; */
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid white;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        height: 35px;
    }
}


.innerFrame {
    /* background-color: aliceblue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
        height: 100%;
        background: none;
        display: block;
        border-radius: 30px;
        padding-left: 20px;
        font-size: 20px;
        outline: none;
        border: none;
        color: white;
        background: rgba(255, 255, 255, 0.2);
    }
}

.serachBut {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50px;
    right: -5px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 768px) {
        height: 35px;
        width: 35px;
    }
}

.first {
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
    /* background-color: #812185; */
}

.intro {
    /* background-color: aquamarine; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    p {
        padding: 5%;
        font-size: 25px;
        color: white;
        font-weight: 800;
        letter-spacing: 2px;
    }
}
.play {
    width: 50%;
    height: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        background-color: #660da5;
        width: 50%;
        height: 30%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
        p {
            color: white;
            font-size: 1.5rem;
            margin: 0;
            letter-spacing: 4px;
        }
        &:hover {
            transform: scale(1.05);
            background-color: darkblue;
        }
        @media (max-width: 1536px) {
            width: 80%;
        }
    }
}

@media (max-width: 768px) {
    .first {
        flex-direction: column;
    }
    .intro{
        width: 100%;
        height: 70%;
    }
    .play {
        width: 100%;
        height: 30%;
        button {
            height: 80%;
        }
    }
}

.last {
    width: 100%;
    height: 60%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

.Head {
    /* background-color: #660da5; */
    width: 100%;
    height: 10%;
    display: flex;
}

.But {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 1%;
    gap: 10px;
    h2 {
        font-weight: 1000;
        color: white;
        letter-spacing: 3px;
        
    }
}

.Icon {
    padding-bottom: 6px;
    width: 30px;
    height: 30px;
    color: gold;
}

.content {
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 90%;
}

.leaderboard {
    width: 30%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 1% 1% 1%;
    gap: 10px;
}

.bar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 7%;
    display: flex;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;
        font-weight: 800;
    }
    @media (max-width: 1280px) {
        p {
            font-size: 12px;
        }
    }
}

.cards {
    /* background-color: aquamarine; */
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardRank {
    width: 100%;
    height: 120px;
    min-height: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    hr {
        height: 70%;
    }
}

.ranking {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: white;
        font-size: 35px;
        font-weight: 1000;
        text-decoration: underline;
    }
}

.user {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
    }
    p {
        font-size: 12px;
        font-weight: 800;
        color: white;
    }
    @media (max-width: 1536px) {
        P {
            font-size: 8px;
        }
        img {
            width: 50px;
            height: 50px;
        }
    }
}

.wins {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 25px;
        color: white;
        font-weight: 500px;
    }
}

.lvl {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 25px;
        color: white;
        font-weight: 500px;
    }
}

@media (max-width: 1536px) {
    .cardRank {
        height: 100px;
        min-height: 100px;
    }
    .ranking {
        p {
            font-size: 30px;
        }
    }
    .user {
        P {
            font-size: 10px;
        }
        img {
            width: 50px;
            height: 50px;
        }
    }
    .wins, .lvl {
        p {
            font-size: 20px;
        }
    }
}

.statistic {
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
