.Home{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.cont {
    margin: 3%;
	width: 80%;
	height: 1100px;
	display: flex;
	flex-direction: column;
    /* background-color: yellow; */
}

.head h1
{
    text-align: center;
    font-size:50px; font-weight:300; letter-spacing:15px;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    color: white;
    @media (max-width: 768px) {
        font-size:30px;
        font-weight:100;
        letter-spacing:4px;
    }
}

.first {
    width: 100%;
    height: 50%;
    display: flex;
    /* min-width: 280px; */
    position: relative;
    /* background-color: #812185; */
}
.Intro {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 1800px) {
    .Intro {
        width: 50%;
    }
    .logo {
        width: 50%;
        
    }
}
@media (max-width: 1280px) {
    .logo {
        position: absolute;
        width: 100%;
        opacity: 30%;
    }
    .Intro {
        width: 100%;
        .intro {
            height: 60%;
        }
        .Play {
            height: 40%;
            width: 50%;
        }
        z-index: 1;
    }
}
@media (max-width: 640px) {
    .cont {
        width: 100%;
    }
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    .str {
        width: 100%;
        height: 70%;
        font-size: 30px;
        color: white;
    }
}
.Play {
    display: flex;
    width: 100%;
    height: 50%;
    button {
        width: 400px;
        height: 100px;
        background-color: #411556; 
        border: none;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(151, 19, 79, 0.5);
        transition: background-color 0.3s, box-shadow 0.3s;
        p {
            font-size: 40px;
            color: white;
        }
    }
    button:hover {
        background-color: #5e005e;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    }
    button:active {
        background-color: #560856;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

}

@media (max-width: 768px) {
    .Intro {
        justify-content: start;
        align-items: start;
    }
    .Play {
        width: 200px;
        height: 100px;
        button {
            width: 100%;
            height: 100px;
            p {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 425px) {
    .intro {
        justify-content: center;
        align-items: center;
        height: 70%;
        .str {
            justify-content: center;
            align-items: center;
            font-size: 28px;
        }
    }
}



.last {
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1775px) {
        width: 100%;        
    }
}
.Leaderboard {
    font-size: 30px;
    display: flex;
    gap: 10px;
    color: white;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-top: 4%;
    gap: 20px;
    &::-webkit-scrollbar {
		width: 10px;
		height: 100%;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: #ffffff0a;
	}
}
