

/* Main container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  width: 100%;
  /* background-color: #470059; */
  overflow: hidden;
  /* position: relative; */
}

.otp-container {
  border: rgb(255, 255, 255) 1px solid;
  height: 30%;
  width: 30%;
  margin-left: 38%;
  margin-right: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  border-radius: 5px;
  overflow: hidden;
}
.btn-verify-top {
  background-color: #470059;
  color: #ffffff;
  width: 470px;
  border: none;
  height: 60px;
  font-size:1.5rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;  
}

.btn-verify-top:hover{
    background-color: #000000;
    color: #ffffff;
}
/* QR code container styling */
.qrcode-container {
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  /* background-color: #470059; */
  /* background-color:rgba(72, 71, 71, 0.6); */
  padding: 20px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #fff;

}

.qrcode-container h1, p {
  font-size: 2rem;
  color: #ffffff;
  /* background-color: yellow; */
  /* margin: 20px 0; */
}
/* .Content {
  display: flex;
  border: 5px solid red;

  width: 100%;
  height: 100%;
  /* flex-direction: column; */
/* }  */

.paragh {
  display: flex;
  /* border: 5px solid #5f26e2; */
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: center;
  color: #333;
  width: 50%;
  line-height: 2.5;
}
.paragh p{
  font-size: 2rem;
}
.btns{
  display: flex;
  width: 100%;
  justify-content: center;
}
.qr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #000;
  }
}

.inputs-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100px;

    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.otp-input{
    width: 70px;
    height: 60px;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    /* background-color: #fff; */
    border: 2px solid #000;
    outline: none;
    color:#000;
}

.btn{
    width: 200px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #333;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.btn-verify {
  background-color: #470059;
  color: #ffffff;
  width: 470px;
  /* height: 500px; */
  padding: 15px;
  border: none;
}

.btn-verify:hover{
    background-color: #916da0;
    color: #ffffff;
}
.btn-cancel:hover {
  background-color: #000000;
  color: #ffffff;
}
.qr h1{
    color: #ffffff;
}

.qr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width : 50%;
    
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.switch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20px;
}

.on{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.off{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.on input, .off input{
  width: 100px;
  height: 30px;
}

.disable-2fa
{
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  background-color: #e2252b;
  width: 455px;
  height: 60px;
  cursor: pointer;
}

.disable-2fa:hover
{
  background-color: #140115;
}