
/* * {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
} */

/* .side-nav {
    width: 15rem;
    background-color: #7667D9;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    transition: width 0.3s ease;
} */


/* .user {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
} */

/* .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
} */

/* .user div {
    flex: 1;
} */

/* .user h2 {
    margin: 0;
    font-size: 18px;
} */

/* .user p {
    margin: 5px 0 0;
    font-size: 14px;
} */


/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
} */

/* ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
} */

/* ul li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
} */

/* ul li p {
    margin: 0;
    font-size: 16px;
} */


a {
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ul li a {
    color: inherit;
}

ul:last-of-type {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

ul:last-of-type li {
    border-bottom: none;
} */


/* .side-nav.shrink {
    width: 60px;
} */


/* .side-nav.shrink .user div,
.side-nav.shrink ul li p {
    display: none;
} */

/* .side-nav.shrink .user-img {
    width: 30px;
    height: 30px;
}

.side-nav.shrink ul li img {
    width: 24px;
    height: 24px;
}

@media (max-width: 900px) {
    .side-nav {
        width: 60px;
    }

    .side-nav .user div,
    .side-nav ul li p {
        display: none;
    }

    .side-nav .user-img {
        width: 30px;
        height: 30px;
    }

    .side-nav ul li img {
        width: 24px;
        height: 24px;
    }
} */

.Sidebar {
    width: 250px;
    min-width: 250px;
    height: 100vh;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    gap: 10%;
    hr {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        display: flex;
    }
    background-color: rgb(19, 19, 46);
    @media (max-width: 900px) {
        width: 70px;
        min-width: 70px;
    }
}

.Head {
    display: flex;
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: rgb(19, 19, 46);
    @media (max-width: 640px) {
        height: 55px;
    }
}

.begin {
    display: flex;
    width: 270px;
    height: 100%;
    @media (max-width: 640px) {
        width: 160px;
    }
}

.listIcon {
    display: flex;
    width: 70px;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    cursor: pointer;
    border: none;
    gap: 5px;
    background: none;
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
    }
    p {
        color: #660da5;
        font-size: 19px;
        font-weight: 900;
        letter-spacing: 1.5px;
    }
    @media (max-width: 640px) {
        width: 70px;
        p{
            display: none;
        }
    }
}

.search {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.namee {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 60px;
    background-color: aquamarine;
    top: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(19, 19, 46);
    p {
        color: white;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 2px;
    }
}

.iconSearch {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.inputSearch {
    display: flex;
    width: 95%;
    height: 100%;
    position: relative;
    input {
        width: 100%;
        height: 100%;
        background: none;
        display: block;
        font-size: 20px;
        outline: none;
        border: none;
        color: white;
    }
}

.searchResult {
    display: flex;
    position: absolute;
    width: 98%;
    background-color: #660da5;
    top: 100%;
    z-index: 1;
    flex-direction: column;
    gap: 10px;
}

.searchCard {
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.userImage {
    display: flex;
    width: 150px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.userName {
    display: flex;
    align-items: center;
    height: 100%;
    width: 150px;
    padding-left: 3%;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
}

.intImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 55px;
    background-color: #660da5;
    border: none;
    clip-path: polygon(
		50% 0%, 
		100% 25%, 
		100% 75%, 
		50% 100%, 
		0% 75%, 
		0% 25%
	);
    img {
        display: flex;
        width: 50px;
        height: 50px;
    }
}

.end {
    display: flex;
    width: 250px;
    height: 100%;
    /* background-color: bisque; */
    gap: 5px;
    @media (max-width: 640px) {
        width: 150px;
        gap: 3px;
    }
}

.notifIcon {
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}

.param {
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
}



.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
}

.icon {
    color: white;
    width: 60%;
    height: 50%;
}

.components {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-top: 60%;
}

.componentCard {
    display: flex;
    border: none;
    background: none;
    width: 100%;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.compName {
    display: flex;
    width: 70%;
    padding-left: 10%;
    align-items: center;
    p {
        color: white;
        font-size: 18px;
        font-size: 600;
        letter-spacing: 3px;
    }
}

/* .search {
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: rgba(55, 13, 94, 0.4);
    left: 10%;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 2px solid rgba(55, 13, 94);
    transition: 0.5s;
    z-index: 1;
    p {
        color: white;
        font-size: 20px;
        padding-left: 10px;
    }
    &:hover {
        transition: 0.5s;
        background-color: rgba(55, 13, 94, 0.8);
    }
} */

/* .searchCard {
    height: 60px;
    display: flex;
    cursor: pointer;
    position: relative;
} */

.noResult {
    display: flex;
    width: 48%;
}

/* .components {
    display: flex;
    width: 100%;
    background-color: aqua;
} */

/* @media (max-width: 900px) {
    .searchResult {
        left: 0.5%;
        width: 35%;
    }
} */
