.listFriend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 43vh;
    gap: 5%;
    #Text {
        position: relative;
        right: 10%;
    }
}

#Text {
    font-size: 25px;
    font-weight: 200;
}

.ScrollBar {
	width: 100%;
	padding-left: 2%;
	display: flex;
	align-items: center;
	overflow-x: auto;

	&:hover::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: rgba(255, 255, 255, 0.1);
	}

	&::-webkit-scrollbar {
		height: 10px;
		width: 10px;
	}
}

.List{
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	height: 100%;
}

.Img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FrName {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}