#XOApp * {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	transition-duration: 0.1s;
}

#XOApp {
	height: calc(100vh - 60px); /* 60px: needs to change accordingly with the search bar height */
	align-self: end;
	width: 100vw;
	color: #fff;
	text-transform: uppercase;
	font-family: monospace;
}

#XOApp, #XOApp div, #XOApp button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0);
}

#XOApp {
	flex-direction: row;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.4);
}

#XOApp > div:not(#game) {
	height: 50%;
	width: 50%;
	padding: 2%;
}

#XOApp p {
	font-size: 0.85em;
}

#XOApp h1:not(.x > h1):not(.o > h1):not(#temp_h1) {
	font-size: 1.3em;
}

#XOApp #control {
	align-items: start;
	row-gap: 2em;
	justify-content: start;
}

#XOApp #stats {
	align-items: end;
	justify-content: start;
}
#XOApp #stats > p {
	font-size: 2em;
}
#XOApp #stats > p > span {
	padding: 0 10px;
}

#XOApp #stats > p:nth-child(1) > span {
	border-bottom: none;
}
#XOApp #stats > p:nth-child(2) > span {
	border-top: none;
}

#XOApp #console {
	align-items: start;
	justify-content: end;
}
#XOApp #logs {
	align-items: end;
	justify-content: end;
	overflow: auto;
}

#XOApp button {
	width: 10em;
	height: 2em;
	background: #000;
	color: #fff;
	border: 1px solid #fff;
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: monospace;
	cursor: pointer;
}

#XOApp button:hover{
	background: #fff;
	color: #000;
}

#XOApp > div:nth-child(1) {
	position: absolute;
	height: 70vh;
	width: 70vh;
	max-height: 80vh;
	max-width: 90vw;
	min-height: 40vh;
	min-width: 40vh;
}

#XOApp #game {
	background: #000;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-between;
}

#XOApp #game > div {
	border: 1px solid #A9A9A9;
	height: 19%;
	width: 19%;
	cursor: pointer;
}

.x > h1, .o > h1, #temp_h1 {
	font-size: 4em;
	font-family: serif;
	font-weight: lighter;
	max-height: 80%;
	max-width: 80%;
}

#XOApp #temp_h1 {
	color: #A9A9A9;
}

#XOApp #looking_up > div, #XOApp #found > div {
	align-items:start;
}

#XOApp #found > div {
	row-gap: 2em;
}

@media only screen and (max-width: 700px) {
	#XOApp h1 { transform: scale(0.8); }
	.x > h1, .o > h1 { transform: scale(0.6)}
}

@media only screen and (max-width: 900px) {
	#XOApp #console_obj,  #XOApp #logs { display: none; }
	#XOApp h1 { transform: scale(0.9); }
	.x > h1, .o > h1, #temp_h1 { transform: scale(0.7) }
}

@media only screen and (max-width: 1200px) {
	#XOApp > div:nth-child(1) { width: 90vw; height: 90vw; }
	.x > h1, .o > h1, #temp_h1 { transform: scale(0.8) }
}
