.Sidebar {
	background-color: #7667d9;
	width: 90px;
	height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;


	.logo {
	display: flex;
	justify-content: center;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 50px;
		height: 50px;
		transition: 0.5s;

		&:hover {
		width: 70px;
		height: 70px;
		transition: 0.5s;
		}
	}
	}



.icc {
	
	/* height: 64%; */
	margin-top: auto;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
	.allicon {
	img {
		width: 30px;
		height: 30px;
		padding: 10px 30px 10px 30px;
		transition: 0.5s;
		
		&:hover {
			background-color: #25233c;
			width: 40px;
			height: 40px;
			padding: 10px 20px 10px 30px;
			transition: 0.5s;
		}
	}
}

}

.active {
	background-color: #25233c;
	}
	
	.logout {
			margin-top: auto;
			display: flex;
			justify-content: center;
			width: 100px;
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
		
			img {
				width: 50px;
				height: 50px;
				transition: 0.5s;
				cursor: pointer;
				&:hover {
				width: 70px;
				height: 70px;
				transition: 0.5s;
				}
			}
			}
		
}
