.History {
	flex: 1;
	width: 80%;
	display: flex;
	justify-content: center;
	gap: 20px;
	justify-content: center;
	align-items: center;
	
	.matchHistory{
		display: flex;
		flex-direction: column;
		height: 43vh;
		width: 54%;
		gap: 20px;
		.Matches{
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			align-items: start;
			padding: 8px;
			overflow-y: hidden;
			overflow-x: hidden;
			/* height: 100%; */
			&:hover {
				overflow-y: scroll;
			}
			
			&::-webkit-scrollbar {
				width: 10px;
				height: 100%;
			}
			
			&::-webkit-scrollbar-thumb {
				border-radius: 20px;
				background-color: #ffffff0a;
			}
			
		}
	}

	#Text {
		font-size: 25px;
		font-weight: 200;
	}
	
	.listFriend {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35%;
		height: 43vh;
		gap: 5%;
		#Text {
			position: relative;
			right: 9%;
		}
	}
	
	.ScrollBar {
		width: 100%;
		padding-left: 2%;
        display: flex;
        align-items: center;
        overflow-x: auto;

        &:hover::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.1);
        }

        &::-webkit-scrollbar {
            height: 10px;
            width: 10px;
        }
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35%;
		height: 35vh;
		/* background-color: aqua; */
		
		.BlankCard {
			flex: 1;
			width: 60%;
			border-radius: 20px;
			display: flex;
			justify-content: start;
			align-items: center;
			justify-content: space-between;
			font-size: 35px;
			font-weight: 250;
			padding: 5%;
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
		
	}

	.List{
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		height: 100%;
	}

	#friendName {
		font-size: 120%;
	}
	
	.listBlocked {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35%;
		height: 43vh;
		gap: 5%;
		#Text {
			position: relative;
			right: 18%;
		}
	.RdButton {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		transition: .4s;
	}
	.RdButton p{
		font-size: 20px;
		transition: .4s;
		color: red;
	}
	
	.RdButton:hover {
		p{
			font-size: 25px;
		}
	}
	}

	.Img {
		flex: 1;
	}
	
	.FrName {
		flex: 1;
	}
}