.Home{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
    overflow: auto;
    min-width: 300px;
    &::-webkit-scrollbar {
        width: 7px;
		height: 50%;
	}
    
	&::-webkit-scrollbar-thumb {
        border-radius: 20px;
	}
	&:hover::-webkit-scrollbar-thumb {
        border-radius: 20px;
		background-color: rgba(255, 255, 255, 0.2);
	}
}

.cont {
    margin: 3%;
    /* margin-top: 100px; */
	width: 70%;
	height: 90%;
    min-height: 1300px;
	display: flex;
	flex-direction: column;
    @media (max-width: 1280px) {
        width: 100%;
    }
}

.head h2
{
    text-align: center;
    font-size:40px;
	font-weight:300;
	letter-spacing:10px;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    color: white;
    @media (max-width: 768px) {
        font-size:30px;
        font-weight:100;
        letter-spacing:4px;
    }
}

.extFrame {
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid white;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        height: 35px;
    }
}


.innerFrame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
        height: 100%;
        background: none;
        display: block;
        border-radius: 30px;
        padding-left: 20px;
        font-size: 20px;
        outline: none;
        border: none;
        color: white;
        background: rgba(255, 255, 255, 0.2);
    }
}

.searchBut {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(132, 0, 255);
    border-radius: 50px;
    right: -5px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.first {
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
    /* background-color: aliceblue; */
}

.intro {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        padding: 5%;
        font-size: 25px;
        color: white;
        font-weight: 800;
        letter-spacing: 2px;
    }
}


.play {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        background-color: #660da5;
        width: 50%;
        height: 30%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
        p {
            color: white;
            font-size: 1.5rem;
            margin: 0;
            letter-spacing: 4px;
        }
        &:hover {
            transform: scale(1.05);
            background-color: #441764;
        }
        @media (max-width: 1536px) {
            width: 80%;
        }
        @media (max-width: 640px) {
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .first {
        flex-direction: column;
    }
    .intro{
        padding: 6%;
        width: 100%;
        height: 50%;
    }
    .play {
        width: 100%;
        height: 50%;
        button {
            height: 50%;
        }
    }
    .searchBut {
        height: 35px;
        width: 35px;
    }
    .innerFrame {
        input {
            font-size: 15px;
        }
    }
    .intro {
        p {
            font-size: 18px;
            letter-spacing: 0.5;
            padding: 0%;
        }
    }
}

.last {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    p {
        font-size: 19px;
        font-weight: 200;
        letter-spacing: 1px;
    }
}

.dachHead {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5%;
}

.tmp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px
}

.Head {
    /* background-color: azure; */
    display: flex;
    width: 100%;
    height: 10%;
    button {
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        p {
            font-size: 17px;
            color: white;
        }
    }
}

.icon {
    width: 20px;
    height: 20px;
    color: gold;
    display: flex;
    position: relative;
    bottom: 2px;
}

