body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.chatApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #ffffff;
    background-color: #36393f;
    /* padding: 50px 10px; */
}

.chatApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgba(54, 57, 63, 0.2);
    color: #ffffff;
    padding: 0px 20px 20px 20px;
}


.chatHeader h1 {
    /* margin: 0;
    padding: 15px;
    background-color: #202225;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase; */
    height: 150px;
}

.chatHeader h1 {
    text-align: center;
    font-size:50px;
    font-weight:300;
    letter-spacing:10px;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    color: white;
    @media (max-width: 768px) {
        font-size:30px;
        font-weight:100;
        letter-spacing:4px;
    }
}

.chatLayout {
    display: flex;
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}

.sidebar {
    width: 240px;
    background-color: #2f3136;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #202225;
}

.searchContainer {
    padding: 3%;
    display: flex;
    width: 94%;
    position: relative;
    padding-top: 20px;
}

.search {
    flex: 1;
    padding: 2.5%;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #202225;
    color: #ffffff;
    font-size: 0.9em;
    min-width: 0;
    outline: none;
    transition: background-color 0.3s ease;
}

.search:focus {
    background-color: #2f3136;
    box-shadow: 0 0 0 1px rgba(114, 137, 218, 0.5);
}

.searchButton {
    padding: 2.5% 5%;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #7289da;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9em;
    white-space: nowrap;
}

.searchButton:hover {
    background-color: #677bc4;
}

.searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #36393f;
    border: 1px solid #202225;
    border-top: none;
    border-radius: 0 0 4px 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.searchResultItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchResultItem:hover {
    background-color: #2f3136;
}

.contactList {
    flex: 1;
    overflow-y: auto;
    padding-top: 20px;
}

.contact {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact:hover {
    background-color: #36393f;
}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contactName {
    font-weight: bold;
	margin-top: 5px;
}

.contactStatus .contactUnread .contactLastMessage {
    font-size: 0.8em;
    color: #72767d;
}

.contactLastMessage {
    margin-left: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30%;
}

.contactStatus {
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    display: inline-block;
}

.contactStatus::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #43b581;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactStatus.online::before {
    background-color: #43b581;
}

.contactStatus.offline::before {
    background-color: transparent;
}

.contactUnread {
    background-color: #f04747;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75em;
    margin-left: 5px;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.currentContact {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background-color: #36393f;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #202225; */
}

.contactAvatarContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.contactDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contactMetadata {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8em;
    color: #72767d;
}

.chatMessages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
	padding: 20px 8%;
    background-color: rgba(174, 176, 180, 0.3);
}

.message {
    margin-bottom: 5px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.message.sent {
    align-self: flex-end;
    align-items: flex-end;
	margin-right: 0;
    margin-left: auto;
}

.message.received {
    align-self: flex-start;
    align-items: flex-start;
	margin-left: 0;
    margin-right: auto;
}

.messageContent {
    background-color: #4c5b75;
    padding: 10px 15px;
    border-radius: 18px;
    display: inline-block;
    word-break: break-word;
    position: relative;
    padding-bottom: 20px;
	/* min-width: 50px; */
}

.message.sent .messageContent {
    background-color: #3a4396;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 0.9em;
}

.messageText {
    display: inline-block;
    margin-right: 40px;
}

.messageTime {
    font-size: 0.75em;
    color: #a0a0a0;
    position: absolute;
    bottom: 5px;
    right: 10px;
	white-space: nowrap;
}

.chatFormContainer {
    display: flex;
    justify-content: center;
    background-color: #40444b;
    padding-bottom: 20px;
}

.chatForm {
    display: flex;
    background-color: #565b66;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 70%;
    
}

.chatMessage {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0px;
    background-color: inherit;
    color: #ffffff;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-stretch: expanded;
}

.chatMessage:focus {
    background-color: inherit;
    box-shadow: 0 0 0 0px rgba(209, 210, 219, 0.5);
}

.chatForm button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7289da;
    color: #ffffff;
    cursor: pointer;
}

.noContactSelected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
    color: #72767d;
    font-size: 1.2em;
    background-color: rgba(174, 176, 180, 0.3);
}

/* Chat Header Styles */
.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* padding: 10px 15px; */
    /* background-color: #141619; */
    border-bottom: 1px solid #202225;
}

.currentContact {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.contactAvatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7289da;
    color: #ffffff;
}

.contactName {
    font-weight: bold;
}

/* Chat Options Menu Styles */
.chatOptionsMenu {
    position: relative;
    /* margin-left: 15px; */
    padding: 10px;
    background-color: #36393f;
}

.menu-toggle {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px 10px;
}

.menuList {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #36393f;
    border: 1px solid #202225;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    min-width: 150px;
    white-space: nowrap;
}

.menuList li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menuList li svg {
    margin-right: 10px;
}

.menu-list li:hover {
    background-color: #2f3136;
}

.chatOptionsMenu::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

/* Confirmation Dialog Styles */
.confirmationDialog {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #36393f;
    border: 1px solid #202225;
    border-radius: 4px;
    padding: 15px;
    z-index: 1001;
    width: 200px;
  }
  
  .confirmationDialog p {
    margin: 0 0 10px 0;
    color: #ffffff;
  }
  
  .confirmationDialog button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #7289da;
    color: #ffffff;
  }
  
  .confirmationDialog button:last-child {
    background-color: #747f8d;
  }
  
  .confirmationDialog button:hover {
    opacity: 0.8;
  }

  /* Default Avatar Styles */
  .defaultAvatar {
    font-size: 18px;
}

/* Search Results Styles */
.searchResultItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchResultItem:hover {
    background-color: #2f3136;
}

.searchResultAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7289da;
    color: #ffffff;
}

.searchResultAvatar .defaultAvatar {
    font-size: 18px;
}

.searchResultUsername {
    flex-grow: 1;
}

/* Contact Item Styles */
.contact-avatar-container {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contactAvatar {
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 50%;
    object-fit: cover;
}

.contactAvatar.defaultAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7289da;
    color: #ffffff;
    font-size: 18px;
}

.contactAvatar .defaultAvatar svg {
    width: 20px;
    height: 20px;
}

.typingIndicator {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    padding-left: 10px;
    padding-top: 5px;
    color: #38a2a3;
}