.Settings{
    width: 90%;
    height: 90vh;
    margin-top: 5vh;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 50px;
      }
    

    .centre {
        width: 100%;
        height: 50%;
        border-bottom: 3px solid white;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;

        position: relative;
        
        /* background-color: #12b76a; */
        
        #bag{
            width: 90%;
            height: 80%;

            border-radius: 40px;
            box-shadow: 0 4px 100px 0  #7667d9, 0 6px 20px 0 #7667d9;
            opacity: 0.3;
            
        }
        
        .allcon{
            position: absolute;
            margin: 5%;
            width: 90%;
    
            
            display: flex;
            
            
            
            
            #iconbag{
                margin: 20px;
                width: 40px;
                height: 40px;
                border-radius: 0;
                transition: .5s;
                box-shadow: none;
                position: relative;
                top: -115px;

                opacity: 1;
                }
                
                label{
                    height: 40px;
                }
                }

                
                .set{
                    width: 98%;
                    /* background-color: rgb(231, 231, 16);  */
                    display: flex;
                    align-items: center;
                    /* margin: 60px; */
                    gap: 15%;
                    margin-left: 10%;



                    .avatar{
                        display: flex;
                        flex-direction: column;


                        #avatar{
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            box-shadow: 0 4px 100px 0  #7667d993, 0 6px 20px 0 #7667d9b9;
                            
                        }

                        #icon{
                          width: 25px;
                          height: 25px;
                            position: relative;
                            left: 160px;
                            bottom: 100px;
                            top: -50px;

                            /* top: 100px; */
                        }
                        
                        

                    }
                    .inpu{
                        width: 30%;
                        /* background-color: aqua; */
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;

                        input{
                          width: 100%;
                            height: 50px;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            padding: 10px;
                            color: white;
                            font-size: 20px;
                            
                            border-bottom: 2px solid white;
                            
                            &::placeholder{
                              color: white;
                            }
                          }
                          
                          button{
                            background-color: #7667d969;
                            border: none;
                            outline: none;
                            border-radius: 40px;
                            font-size: 20px;
                            height: 40px;
                            width: 80%;
                            cursor: pointer;
                            transition: .5s;
                            
                            
                            &:hover {
                                background-color: #7667d9cf;
                                transition: .5s;

                            }
                        }



                    }






                }
            }



        /* } */


    }


    .bouttom{
        flex: 2;
        width: 100%;
        /* margin: 40px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;


        h1{
            margin: 30px;
            /* font-family: pass-through; */
            font-size: 50px;
            font-weight: 500;
          }
          
          h3{
            margin: 30px;
            font-size: 30px;
            font-weight: 400;
        }


        
        .toggle_switch {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 40px;
            cursor: pointer;
          }
          
          .toggle_switch input[type="checkbox"] {
            display: none;
          }
          
          .toggle_switch .toggle_switch_background:hover {
            box-shadow: inset 0 0 0 2px #a9b1bf;
            transition: all 0.2s ease-in-out;
          }
          
          .toggle_switch .toggle_switch_handle:hover {
            transition: all 0.2s ease-in-out;
          }
          
          .toggle_switch_background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ddd;
            border-radius: 12px;
            box-shadow: inset 0 0 0 2px #ccc;
            transition: background-color 0.3s ease-in-out;
          }
          
          .toggle_switch_handle {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 22%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
          }
          
          .toggle_switch::before {
            content: "";
            position: absolute;
            top: -25px;
            right: -35px;
            font-size: 12px;
            font-weight: bold;
            color: #aaa;
            text-shadow: 1px 1px #fff;
            transition: color 0.3s ease-in-out;
          }
          
          .toggle_switch input[type="checkbox"]:checked + .toggle_switch_handle {
            transform: translateX(45px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #12b76a;
          }
          
          .toggle_switch input[type="checkbox"]:checked + .toggle_switch_background {
            background-color: #b71212;
            box-shadow: inset 0 0 0 2px #980303;
          }
          
          .toggle_switch input[type="checkbox"]:checked + .toggle_switch:before {
            content: "On";
            color: #b71212;
            right: -15px;
          }
          
          .toggle_switch
            input[type="checkbox"]:checked
            + .toggle_switch_background
            .toggle_switch_handle {
            transform: translateX(40px);
          }
          
    }

