@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.prophil {
    width: 90%;
	height: 90vh;
	margin-top: 5vh;
	margin-left: 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
