.notification {
    position: absolute;
    top: 0;
    left: 0;
    .h1 {
        font-size: 1.5rem;
        color: #19bb07;
        background-color: #e807a5;
        padding: 0.5rem;
        margin: 0;
        text-align: center;
    }
}