/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-nav {
    width: 15rem; /* Default width */
    background-color: #7667D9;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    transition: width 0.3s ease;
}


.user {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user div {
    flex: 1;
}

.user h2 {
    margin: 0;
    font-size: 18px;
}

.user p {
    margin: 5px 0 0;
    font-size: 14px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

ul li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

ul li p {
    margin: 0;
    font-size: 16px;
}


a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ul li a {
    color: inherit;
}

ul:last-of-type {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

ul:last-of-type li {
    border-bottom: none;
}


.side-nav.shrink {
    width: 60px;
}


.side-nav.shrink .user div,
.side-nav.shrink ul li p {
    display: none;
}

.side-nav.shrink .user-img {
    width: 30px;
    height: 30px;
}

.side-nav.shrink ul li img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .side-nav {
        width: 60px;
    }

    .side-nav .user div,
    .side-nav ul li p {
        display: none;
    }

    .side-nav .user-img {
        width: 30px;
        height: 30px;
    }

    .side-nav ul li img {
        width: 24px;
        height: 24px;
    }
}
